<div *ngIf="!isAdminLoggedIn&&!isCustomerLoggedIn">
    <nz-header class="main-header custom-navbar" nz-row nzType="flex" >
      <div class="navbar-title">
        <h1><a routerLink="/" class="primary">Car Rental</a></h1>
      </div>
      <div class="nav-links" nzTheme="dark" nzMode="horizontal">
        <a nz-button nzType="link" routerLink="/register">Register</a>
       <a nz-button nzType="link" routerLink="/login">Login</a>
      </div>
    </nz-header>
</div>
<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header custom-navbar" nz-row nzType="flex" >
    <div class="navbar-title">
      <h1><a routerLink="/login" class="primary">LoggedIn Admin</a></h1>
    </div>
    <div class="nav-links" nzTheme="dark" nzMode="horizontal">
      <a nz-button nzType="link" routerLink="/admin/dashboard">Dashboard</a>
     <a nz-button nzType="link" routerLinkActive="active" (click)="logout()">Logout</a>
    </div>
  </nz-header>
</div>
<div *ngIf="isCustomerLoggedIn">
  <nz-header class="main-header custom-navbar" nz-row nzType="flex" >
    <div class="navbar-title">
      <h1><a routerLink="/login" class="primary">LoggedIn Customer</a></h1>
    </div>
    <div class="nav-links" nzTheme="dark" nzMode="horizontal">
      <a nz-button nzType="link" routerLink="/customer/dashboard">Dashboard</a>
     <a nz-button nzType="link" routerLinkActive="active" (click)="logout()">Logout</a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>